/* App */
.app-container {
  background: rgba(255, 255, 255, 0.7);
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

.spacious {
  margin-top: 3rem;
}

.label-padding {
  margin-top: 0.5rem;
}

label {
  padding-right: 0.5rem;
}

/* InputFields */

select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://www.favicon.cc/logo3d/474207.png) 96% / 15% no-repeat #fff;
}

.ui.fluid.placeholder {
  border-radius: 10px;
  margin: 0.5rem 0 0.5rem 0;
}

/* Keep footer in place */
#main-container {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #f5f5f5;
  text-align: center;
}